.header {
    background: rgba(199, 62, 128, 1);
    background: -moz-linear-gradient(left, rgba(199, 62, 128, 1) 0%, rgba(148, 18, 133, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199, 62, 128, 1)), color-stop(100%, rgba(148, 18, 133, 1)));
    background: -webkit-linear-gradient(left, rgba(199, 62, 128, 1) 0%, rgba(148, 18, 133, 1) 100%);
    background: -o-linear-gradient(left, rgba(199, 62, 128, 1) 0%, rgba(148, 18, 133, 1) 100%);
    background: -ms-linear-gradient(left, rgba(199, 62, 128, 1) 0%, rgba(148, 18, 133, 1) 100%);
    background: linear-gradient(to right, rgba(199, 62, 128, 1) 0%, rgba(148, 18, 133, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73e80', endColorstr='#941285', GradientType=1);
    height: 580px;
    padding-top: 100px;
    /* margin-top: -100px; */

    clip-path: polygon(0 0, 100% 0, 100% 90%,0 100%);
}

nav{
    z-index: 20;
    position: absolute;
    top: 0;
    background: rgba(148, 18, 133, 0);
    border: none;
}

/* .judul{
    position: relative;
    top: 100px;
} */

.img{
    height: auto;
    width: 100%;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
    box-shadow: none;
}